@use "./reset";

.app-container {
  padding: 15px;
}

.search-container {
  padding: 18px 0 0 10px;
  margin-bottom: 10px;
  background-color: var(--el-bg-color-overlay);
  border: 1px solid var(--el-border-color-light);
  border-radius: 4px;
  box-shadow: var(--el-box-shadow-light);
}

.table-container > .el-card__header {
  padding: calc(var(--el-card-padding) - 8px) var(--el-card-padding);
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32 160 255);
  }
}

// .ops-table-box {
//   @apply p-4 bg-white text-slate-700 dark:text-slate-400 dark:bg-slate-900 rounded my-2;
//   .el-table{
//       @apply border-x border-t border-b-0 rounded border-table-border border-solid -mx-[1px];
//   }
// }

// .ops-btn-list {
//   @apply mb-3 flex items-center;
// }

// .ops-search-box {
//   @apply p-4 bg-white text-slate-700 dark:text-slate-400 dark:bg-slate-900 rounded my-2;
// }

.ops-table-box {
  padding: 1rem;
  margin: 0.5rem 0;
  color: #4f4f4f;
  background-color: #fff;
  border-radius: 0.25rem;

  .el-table {
    margin-right: -1px;
    margin-left: -1px;
    border-style: solid;
    border-top: 1px solid var(--el-border-color);
    border-right: 1px solid var(--el-border-color);
    border-bottom: 0;
    border-left: 1px solid var(--el-border-color);
    border-radius: 0.25rem;
  }
}

.ops-btn-list {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.ops-search-box {
  padding: 1rem;
  margin: 0.5rem 0;
  color: #4f4f4f;
  background-color: #fff;
  border-radius: 0.25rem;
}
